@charset "utf-8";
/* CSS Document */
img {
	max-width: 200px;
}
body {
	padding-top: 50px;
	background-color: paleturquoise;
}
.navbar {
	border: yellow 1px solid;
}
.carousel-inner {
	background-color: black;
}
.carousel-inner img {
	margin: auto;
}
#missie, #reizigers {
	background-color: antiquewhite;
}
.main {
	padding: 15px;
	background-color: mediumaquamarine;
}
